
VITE_SUPABASE_URL='supabase_url'
VITE_SUPABASE_ANON_KEY='supabase_anon_key'


VITE_EMAILJS_SERVICE_ID = 'email_js_service_id'

VITE_EMAILJS_TEMPLATE_ID = 'template_id'
VITE_EMAILJS_TEMPLATE_ID_CONTACT_FORM = 'template_id'
VITE_EMAILJS_PUBLIC_KEY = 'public_key'

